<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <%=title%>
    <ul>
      <% data.forEach((item, i) => {%>
        <li>
          <%=item.name%> - <%=item.price%> - <%=item.description%>
          <br>
          <img src="<%=item.imageUrl%>" alt="imageTest" height="200px"/>

        </li>
      <%}); %>
    </ul>
  </body>
</html>
